# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [48]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [49]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [50]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [51]:
# Drop the date column
df.drop('date',axis=1,inplace=True)


### Compare June and December data across all years

In [52]:
from scipy import stats

In [53]:
# Filter data for desired months
df = pd.read_csv('Resources/hawaii_measurements.csv')
df['date'] = pd.to_datetime(df['date'])
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [59]:
# Identify the average temperature for June
# split date to year,month,day by adding columns 
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day']=df['date'].dt.day
df_mask=df['month']==6
june_df = df[df_mask]
mean_june_temp = round(df['tobs'].mean(),2)
mean_june_temp

73.1

In [60]:
# Identify the average temperature for December
df_mask=df['month']==12
december_df = df[df_mask]
mean_dec_temp = round(df['tobs'].mean(),2)
mean_dec_temp

73.1

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis